@model IEnumerable<OpenBlog.Web.Areas.Admin.Models.PostListItem>

@{
    ViewData["Title"] = "PostList";
}

<h1>PostList</h1>

<p>
    <a asp-action="NewPost">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPost", new {postId = item.PostId})
                @* @Html.ActionLink("Delete", "DeletePost", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
    }
    </tbody>
</table>