@{
    ViewData["Title"] = "PostList By Category";
}
@model IEnumerable<OpenBlog.Web.Models.PostPublicListItem>
@section Styles
{
    <style>
        .post-list {
        }

        .post {
            margin: 20px;
        }

        .post-header {
            background: #ccc;
        }
    </style>
}

<section class="post-list">
    @foreach (var item in Model)
    {
        <div class="post" data-post-id="@item.PostId">
            <div class="post-header">
                <a asp-action="ViewPost" asp-controller="Home" asp-route-postId="@item.PostId">@item.Title</a>
            </div>
            <div class="post-summary">@item.Summary</div>
            <div class="post-footer">
                <span>发布时间</span> @Html.Raw(item.CreateTime)
                <span>最后更新时间</span>@Html.Raw(item.UpdateTime)
            </div>
        </div>
    }
</section>